*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: rgb(221, 233, 221);
    font-size: 16px;
}

.bodyHome{
    background: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(184, 157, 117);
    position: relative;
    border-bottom: 2px rgb(162, 224, 146) solid;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    background: rgb(191, 254, 223);
    display: block;  
    position: absolute;
    right: 20px;
    top: 16px;	
    font-size: 2.5em;
}
  
.topnav a:hover {
    background-color: rgba(193, 240, 184, 0.781);
    color: black;
}
  
.active {
    background-color: rgb(191, 254, 223);
    color: white;
}

.imgHeader{
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10%;
}

.headerAll{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 2px rgb(162, 224, 146) solid;
    background: rgb(191, 254, 223);
}

.headerLeft{
    padding-left: 15px;
}

.imageheaderLeft{
    border: 5px rgb(162, 224, 146) solid;
    height: 87.84px;
    border-radius: 5px; 
}

.headerRight{
    display: flex;
    align-content: space-around;
    margin: 20px 60px;  
}

.buttonHeader{
    border: 2px rgb(162, 224, 146) solid;
    background-color: rgb(184, 157, 117);
    color: blanchedalmond;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
}

.mainHome{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 0px;
    background: rgba(193, 240, 184, 0.781);
}

.descriptionPage{
    border: 2px rgb(162, 224, 146) solid;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    background: rgb(191, 254, 223);
}

.FishBugsFossilMainHomeMobile{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    font-size: 13px;
    padding-bottom: 10px;
}

.FishBugsFossilMainHomeDesktop{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    padding: 0px 30px;
    padding-bottom: 10px;
    font-size: 17px;
}

.linkHomeMainMobile{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.linkHomeMainDesktop{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.linkHomeMainDesktopMaxPixel{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.FishBugsFossilMainHomeDesktopMaxPixel{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    font-size: 19px;
    padding-bottom: 10px;
}

.imgLinkHomeMain{
    border-radius: 5%;
}

.blockTextHome{
   padding: 0px 0px 10px 50px;
}

#mainFossil{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 30px;
    background: rgb(250, 252, 251);
    background-image: url("../pictures/Hoja_main.png");
    background-size: 95px;
    background-repeat: space;  
}

.mainBugsFish{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 30px;
    background: rgb(250, 252, 251);
    background-image: url("../pictures/Hoja_main.png");
    background-size: 95px;
    background-repeat: space;  
}

.mainUp{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.titleFishFossilBugs{
    background-color: rgba(132, 189, 58, 0.678);
    padding: 0px 40px;
    border-radius: 10px;
}

.titleFishFossilBugsMobile{
    font-size: 10px;
    background-color: rgba(132, 189, 58, 0.678);
    padding: 0px 15px;
    border-radius: 10px;
}

.listFishFossilBugs{
    display: flex;
    justify-content: space-around;
}

.formatDataMainSelectMobile{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(132, 189, 58, 0.678);
    padding: 80px;
    margin-top: 20px;
    border-radius: 15px;
}

.nameAndPriceFossilMobile p{
    font-size: 16px;
}

.monthFishingPriceFishAndBugsMobile{
    margin: 10px 0px;
}

.buttonMobile{
    display: flex;
}

.formatDataMainSelectDesktop{
    display: flex;
    justify-content: space-around;
    background-color: rgba(132, 189, 58, 0.678);
    padding: 90px 60px;
    margin-top: 20px;
    border-radius: 15px;
}

.nameAndPriceFossilDesktop p{
    font-size: 18px;
}

.buttonDesktop{
    margin-top: 60px;
}

.buttonDesktopMaxPixel{
    margin-top: 60px;
}

.buttonDesktopFossil{
    display: flex;
}

.buttonDesktopMaxPixelFossil{
    display: flex;
}

.buttonDesktopMaxPixelFossil
.monthFishingPriceFishAndBugsDesktop{
    margin: 10px;
    padding: 28px;
}

.formatDataMainSelectDesktopMaxPixel{
    display: flex;
    justify-content: space-around;
    background-color: rgba(132, 189, 58, 0.678);
    padding: 150px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 20px;
}

.nameAndPriceFossilDesktopMaxPixel p{
    font-size: 20px;
}

.monthFishingPriceFishAndBugsDesktopMaxPixel{
    margin: 10px;
    padding: 28px;
}

.sonImgFossilMainMobile img{
    width: 150px;
    height: auto;
}

.sonImgFossilMainDesktop img{
    width: 200px;
    height: auto;
}

.sonImgFossilMainDesktopMaxPixel img{
    width: 250px;
    height: auto;
}

.sonNameAndPriceFossil{
    margin: 10px;
    font-size: 25px;
}

#imageAndNameFish{
    display: flex;
    flex-direction: column;  
}

.allFavorites{
    background:rgb(184, 157, 117);
    margin: 0px;
    border-top: 2px rgb(162, 224, 146) solid;
    border-bottom: 3px rgb(184, 157, 117) solid;
    border-radius: 7px;
}

.allFavorites img{
    width: 100px;
    height: auto;
}

#titleFavoritesHome{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.favoriteStarHome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10%;
}

.favoriteBugsFishFossil{
    background:rgb(184, 157, 117);
    margin-top: 10px;
    border-top: 2px rgb(162, 224, 146) solid;
    border-bottom: 3px rgb(184, 157, 117) solid;
    border-radius: 7px;
}

.favoriteBugsFishFossil img{
   width: 100px;
   height: 100px;
}

.titleFavoritesfossilBugsFish{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.callFavoriteStarMobile{
    display: flex;
    flex-wrap: wrap;
}

.callFavoriteStarDesktop{
    display: flex;
    flex-wrap: wrap;
}

.callFavoriteStarDesktopMaxPixel{
    display: flex;
    flex-wrap: wrap;
}

.sonCallFavoriteStar{
    width: 25%;
}

footer{
    border-top: 2px rgb(162, 224, 146) solid;
    padding: 10px;
    min-height: 100px;
    background-color: rgb(191, 254, 223);
    background-image: url("../pictures/Hoja_footer.png");
    background-repeat: no-repeat;
    background-size: 100px; 
    background-position: 95% 50%;  
    
}

.parrafFooterLeft{
    font-size: 12px;
    padding: 15px 5px 5px 0px;
}

.titleFooter h4{
    color: rgb(206, 131, 191);
    padding: 10px 0px;
}
 
#dataFooter{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

#company{
    width: 50%;
}

.dataFooterLeft{
    margin-bottom: 20px;
}

footer span{
    color: rgb(206, 131, 191);
}

#contact{
    width: 50%;
    padding-left: 5px;
}

#footerDown{
    color: rgb(206, 131, 191);
    border-top: 1px rgb(156, 152, 152) solid;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

@media (max-width: 739.99px) {
    .headerAll{
        display: none;
    }

    .FishBugsFossilMainHomeDesktop{
        display: none;
    }

    .formatDataMainSelectDesktop{
        display: none;
    }
    
    .favoritesAnimalsDesktop{
        display: none;
    }

    .FishBugsFossilMainHomeDesktopMaxPixel{
        display: none;
    }

    .formatDataMainSelectDesktopMaxPixel{
        display: none;
    }

    .favoritesAnimalsDesktopMaxPixel{
        display: none;
    }

    .titleFishFossilBugs{
        display: none;
    }

}

@media (min-width: 740px) and (max-width: 959.99px) {

    .topnav{
        display: none; 
    }

    .FishBugsFossilMainHomeMobile{
        display: none;
    }

    .formatDataMainSelectMobile{
        display: none;
    }
    
    .favoritesAnimalsMobile{
        display: none;
    }

    .titleFishFossilBugsMobile{
        display: none;
    }

    .FishBugsFossilMainHomeDesktopMaxPixel{
        display: none;
    }

    .formatDataMainSelectDesktopMaxPixel{
        display: none;
    }

    .favoritesAnimalsDesktopMaxPixel{
        display: none;
    }

 
}

@media (min-width: 960px)  {
 
    .topnav{
        display: none; 
    }

    .FishBugsFossilMainHomeMobile{
        display: none;
    }

    .favoritesAnimalsMobile{
        display: none;
    }

    .formatDataMainSelectMobile{
        display: none;
    }

    .titleFishFossilBugsMobile{
        display: none;
    }

    .FishBugsFossilMainHomeDesktop{
        display: none;
    }

    .formatDataMainSelectDesktop{
        display: none;
    }

    .favoritesAnimalsDesktop{
        display: none;
    }
 
}
