*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: rgb(221, 233, 221);
    font-size: 16px;
}

.bodyHome{
    background: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(189, 180, 58);
    position: relative;
    margin:20px;
    border-radius: 10px;
    border: 4px rgb(162, 224, 146) solid;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    background: rgb(191, 254, 223);
    display: block;  
    position: absolute;
    right: 20px;
    top: 16px;	
    font-size: 2.5em;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.active {
    background-color: rgb(191, 254, 223);
    color: white;
}

.imgHeader{
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10%;
}

.headerAll{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px 10px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    background: rgb(191, 254, 223);
}

.headerLeft{
    padding-left: 15px;
}

.imageheaderLeft{
    border: 5px rgb(162, 224, 146) solid;
    height: 87.84px;
    border-radius: 5px; 
}

.headerRight{
    display: flex;
    align-content: space-around;
    margin: 20px 60px;  
}

.buttonHeader{
    border: 2px rgb(162, 224, 146) solid;
    background-color: rgb(189, 180, 58);
    color: blanchedalmond;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
}


main{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 30px 100px 300px;
    background: rgb(250, 252, 251);
    background-image: url("../pictures/Hoja_main.png");
    background-size: 95px;
    background-repeat: space;  
}

.mainHome{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 0px;
    background: rgba(193, 240, 184, 0.781);
}

.descriptionPage{
    border: 2px rgb(162, 224, 146) solid;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    background: rgb(191, 254, 223);
}

.FishBugsFossilMainHomeMobile{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    font-size: 13px;
    padding-bottom: 10px;
}

.FishBugsFossilMainHomeDesktop{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    padding: 0px 30px;
    padding-bottom: 10px;
    font-size: 17px;
}

.linkHomeMainMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.linkHomeMainDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.FishBugsFossilMainHomeDesktopMaxPixel{
    display: flex;
    flex-direction: column ;
    margin: 0px 30px;
    font-size: 19px;
    padding-bottom: 10px;
}

.imgLinkHomeMain{
    border-radius: 5%;
}

.listFishFossilBugs{
    display: flex;
    justify-content: space-around;
}

.blockTextHome{
   padding: 0px 0px 10px 50px;
}

.dataFishFossilBugs{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

#imageAndNameFish{
    display: flex;
    flex-direction: column;
    
}

.allFavorites{
    background:rgb(189, 180, 58);
    margin: 0px;
    border-top: 2px rgb(162, 224, 146) solid;
    border-bottom: 3px rgb(189, 180, 58) solid;
}

#titleFavoritesHome{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.favoriteStarHome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10%;
}

.imgFish{
    width: 10%;
}

footer{
    margin: 20px;
    border: 5px rgb(162, 224, 146) solid;
    border-radius: 10px;
    padding: 30px 100px 100px;
    min-height: 100px;
    background-color: rgb(191, 254, 223);
    background-image: url("../pictures/Hoja_footer.png");
    background-repeat: no-repeat;
    background-size: 80px; 
    background-position: 97% 80%;  
    
}

@media (max-width: 739.99px) {
    .headerAll{
        display: none;
    }

    .FishBugsFossilMainHomeDesktop{
        display: none;
    }

    .FishBugsFossilMainHomeDesktopMaxPixel{
        display: none;
    }

}

@media (min-width: 740px) and (max-width: 959.99px) {

    .topnav{
        display: none; 
    }

    .FishBugsFossilMainHomeMobile{
        display: none;
    }

    .FishBugsFossilMainHomeDesktopMaxPixel{
        display: none;
    }
 
}

@media (min-width: 960px)  {
 
    .topnav{
        display: none; 
    }

    .FishBugsFossilMainHomeMobile{
        display: none;
    }

    .FishBugsFossilMainHomeDesktop{
        display: none;
    }
 
}
